.history
.vscode
__pycache__
*.docx
*.pdf
nn/cocodataset/annotations/*
!nn/cocodataset/annotations/.gitkeep
nn/cocodataset/images/*
!nn/cocodataset/images/.gitkeep
**/saved_models/*
!**/saved_models/.gitkeep
*checkpoint.pth.tar
runs/
**/video/*
!**/video/.gitkeep
nn/dotadataset/*
!nn/dotadataset/.gitkeep